.navbar {
    background-color: #333; /* Change background color as needed */
    padding: 10px;
  }
  
  .navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 10px;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
  }
  
  .navbar-link::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.4s, height 0.4s, opacity 0.4s;
    pointer-events: none;
  }
  
  .navbar-link:hover::after {
    width: 300%;
    height: 300%;
    opacity: 0;
  }
  